# OSX
.DS_Store
._*
.Spotlight-V100
.Trashes

# Windows
Thumbs.db
Desktop.ini

# Temp files
*.tmp
*.bak
*.swp
*~.nib
*~

# Build
build/node_modules
build/gulp-config.json
build/releases

# Never ignore
!.gitignore
!index.html
!index.php
